<h1>{{"Alpaca generator" | uppercase }}</h1>

<main>
  <div>
    <div id="alpaca">
      <img src='{{"../assets/alpaca/backgrounds/" + alpaca["background"] + ".png" }}' alt="alpaca-bg" />
      <img src='{{"../assets/alpaca/neck/" + alpaca["neck"] +".png"}}' alt="alpaca-neck" />
      <img src='{{"../assets/alpaca/ears/" + alpaca["ears"] +".png"}}' alt="alpaca-ears" />
      <img src='{{"../assets/alpaca/hair/" + alpaca["hair"] +".png"}}' alt="alpaca-hair" />
      <img src='{{"../assets/alpaca/eyes/" + alpaca["eyes"] +".png"}}' alt="alpaca-eyes" />
      <img src='{{"../assets/alpaca/leg/" + alpaca["leg"]+".png"}}' alt="alpaca-leg" />
      <img src="../assets/alpaca/nose.png" alt="" srcset="">
      <img src='{{"../assets/alpaca/mouth/" + alpaca["mouth"] +".png"}}' alt="alpaca-mouth" />
      <img *ngIf="alpaca['accessory'] != 'default'"
        src='{{"../assets/alpaca/accessories/" + alpaca["accessory"]+".png"}}' alt="alpaca-accessories" />
    </div>
    <div>
      <button (click)="randomize()">Random</button>
      <button (click)="save()">Download</button>
    </div>
  </div>
  <div>
    <div>
      <p>{{ "Accessorize the Alpaca's" | uppercase }}</p>
      <div *ngFor="let property of properties | keyvalue">
        <input type="radio" id="{{property}}" name="styleType" value="{{property}}"
          (change)="changeProperty(property.key)" [checked]="(property.key == currentProperty)" />
        <label for="{{property}}" [ngStyle]="{'color': (property.key == currentProperty) ? 'red' : 'black'}">
          {{property.key | titlecase }}
        </label>
      </div>
    </div>
    <div>
      <p>{{ "Style" | uppercase }}</p>
      <div *ngFor="let style of properties[currentProperty]">
        <input type="radio" name="style" id="{{style.name}}" value="{{style.value}}"
          [checked]="(style.value) == alpaca[currentProperty]" (change)="changeStyle(style.value)" />
        <label for="{{style.name}}">{{ style.name }}</label>
      </div>
    </div>
  </div>
</main>